<%- include('../partials/header'); -%>

<section id="mainPage">
  <div class="shape tLCircle"></div>
  <div class="shape brCircle"></div>
  <div class="glassCard">
    <h1>Lorem Ipsum Dolor Set Amet.</h1>

  </div>
</section>
    
<%- include('../partials/footer'); -%>
